
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"> An error occured while processing your request.</h4>
        <p>The Support team is notified and we are working on the fix</p>

    </div>
  
    @*<h5>Please contact us on abc@abc.support.com</h5>*@
</div>
